<%- include('layout/header') %>

<section class="section">
  <div class="container">
    <%- include('layout/message') %>
    <h1>
      Welcome to <%= title %>
    </h1>
  </div>
</section>
<%- include('layout/footer') %>
