<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong><a href="https://chat.funs.app">Chat</a></strong> created by
      <a href="https://github.com/ryanlid">Ryanlid</a>.
    </p>
  </div>
</footer>
